
.next {
  color: #000000;
  font-size: 15px;
  float: left;
  margin-top: 25px;
  margin-left: 10px;
}

.autoplay {
  color: #787878;
  font-size: 12px;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
}

.switch {
  width: 10px;
  height: 10px;
  float: left;
}



.list-item {
  cursor: pointer;
  margin: 2em 0 0;
  display: flex;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);
}

.video-list-wrapper {
  margin: 2em 2px;
  background-color: #f8f8f8;
  max-height: 480px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 30px;
}
