
.next {
  position: relative;
  color: #000000;
  float: left;
  font-size: 14px;
  margin-top: 25px;
  left: 7.5rem;
}

.autoplay {
  position: relative;
  color: #787878;
  font-size: 11px;
  float: left;
  margin-top: 14px;
  left: 9rem;
  font-weight: bold;
}

.switch {
  float: left;
  position: relative;
  left: 10rem;
}


.react-switch-checkbox {
  height: 0;
  width: 0;
  float: left;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 27px;
  height: 10px;
  background-color: #cacaca;
  border-radius: 50px;
  position: relative;
  margin-top: 15px;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  transition: 0.2s;
  background: #787878;
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.react-switch-label:active .react-switch-button {
  width: 60px;
}



.list-item {
  cursor: pointer;
  margin: 2em 0 0;
  display: flex;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);
}

.video-list-wrapper {
  position: relative;
  left: 15%;
  margin-top: 35px;
  background-color: #f8f8f8;
  max-height: 400%;
  overflow: scroll;
  overflow-x: hidden; 
  padding-right: 10px;
}
