.search-wrapper {
  margin-left: 1em;
}

.search-bar {
  width: 600px;
  height: 31px;
  color: #cdcdcd;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-color: black;
  padding: 10px;
  line-height: 24px;
  border-radius: 3px;
  font-size: 16px;
  position: relative;
  right: 15em;
}
