.main-navbar {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #ffffff;
}

.youtube-logo {
  margin-left: 2.5em;
  width: 10%;
  height: 10%;
}

.menu-icon {
  position: relative;
  right: 5rem;
  height: 18px;
}


.bell-icon {
  position: relative;
  height: 18px;
}


@media screen and (max-width: 500px) {
  .youtube-logo {
    margin-left: 5%;
  }

  .search-wrapper {
    width: 1000%;
  }
}
